<section class="posts">
    <% page.posts.each(function (post) { %>
    <article class="post">
        <div class="post-title">
            <a class="post-title-link" href="<%- url_for(post.path) %>"><%- post.title %></a>
        </div>
        <div class="post-meta">
            <span class="post-time">于 <%- date(post.date, "YYYY 年 MM 月 DD 日") %></span>
        </div>
    </article>
    <% }) %>
</section>
