<article class="post">
    <div class="post-title">
        <h1 class="title"><%= page.title %></h1>
    </div>
    <div class="post-meta">
        <span class="post-time"><%- date(page.date, "MMMM DD, YYYY") %></span>
    </div>
    <div class="post-content">
        <%- page.content %>
    </div>
</article>
