body {
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.6em;
    padding: 0 1.5em;
    margin: 0 auto;
    max-width: 750px;
    word-break: break-word;
    font-family: 'Noto Serif SC', serif;
}

@media screen and (min-width: 750px) {
    body {
        margin-left: calc((100vw - 3em - 750px) / 2);
    }
}

@import "_partial/header";
@import "_partial/footer";
@import "_partial/post";
@import "_partial/archive";
@import "_partial/normalize";

@media screen and (min-width: 320px) {
    body {
        font-size: calc(16px + 2 * ((100vw - 320px) / 960));
    }
}
