body {
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.6em;
    padding: 0 1.5em;
    margin: 0 auto;
    width: 80%;
    word-break: break-word;
}

@import "_partial/header";
@import "_partial/footer";
@import "_partial/post";
@import "_partial/normalize";

@media screen and (min-width: 320px) {
    body {
        font-size: calc(16px + 2 * ((100vw - 320px) / 960));
    }
}
