.footer {
    display: flex;
    margin: 0 auto;
    color: #818181;
    padding: 1em;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    a {
        color: #818181;
        text-decoration: none;
        &:hover {
            color: black;
            text-decoration: underline;
        }
    }
}
